*{
    margin: 0;
    padding: 0;
    font-family: 'Helvetica', sans-serif;
    box-sizing: border-box;
}

body{
    background: #f0f2f5;
    color: #5f5f5f;
}

a{
    text-decoration: none;
    color: #5f5f5f;
}

.navibar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 5px 5%;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.logo img{
    width: 80px;
    margin-left: 150px;
    display: inline-block;

}

.navibar-left{
    display: flex;
    align-items: center;
}

.navibar-middle ul{
    padding-left: 100px;
}

.navibar-middle ul li{
    display: inline-block;
    list-style: none;
    padding-right: 40px;
}

.navibar-middle ul li a img{
    width: 30px;
}

.user-profiler{
    width: 35px;
    height:35px;
    border-radius: 50%;
    border-color: black;
    display: inline-block;
    cursor: pointer;
    position: relative;
}


.online{
    position: relative;
}

.online::after{
    content: '';
    width: 7px;
    height: 7px;
    border: 2px solid #fff;
    border-radius: 50%;
    right: 0px;
    top: 0px;
    background: #41db51;
    position: absolute;
}

.search-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 15px;
}

.search-bar input {
    border-radius: 6px;
    width:250px;
    height: 40px;
    background-color: #f0f2f5;
    padding-left: 30px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px;
}

.search-btn {
    background: none;
    border: none;
    position: absolute;
    left: 330px; /* adjust as needed */
    top: 50%;
    transform: translateY(-45%);
    cursor: pointer;
}

.search-btn img {
    width: 15px; /* Adjust according to your preference */
    height: 15px; /* Adjust according to your preference */
}