*{
    margin: 0;
    padding: 0;
    font-family: 'Helvetica', sans-serif;
    box-sizing: border-box;
}

body{
    background: #f0f2f5;
    color: #5f5f5f;
}

a{
    text-decoration: none;
    color: #5f5f5f;
}

.navibar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 5px 5%;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.logo img{
    width: 80px;
    margin-left: 150px;
    display: inline-block;

}

.navibar-left{
    display: flex;
    align-items: center;
}

.navibar-middle ul{
    padding-left: 100px;
}

.navibar-middle ul li{
    display: inline-block;
    list-style: none;
    padding-right: 40px;
}

.navibar-middle ul li a img{
    width: 25px;
    display: inline-block;
    margin-left: 3px;
}

.navibar-middle ul li a{
    display:flex;
    align-items:center;
    margin:4px 9px;
    padding-right: 5px;
    position: relative;
}

.navibar-middle ul li a::after{
    content: '';
    width: 0;
    height: 2px;
    background: #5f5f5f;
    position: absolute;
    bottom: -14px;
    transition: width 0.3s;
}

.navibar-middle ul li a:hover::after,
.navibar-middle ul li a.active-link::after {
    width: 100%;
}


.user-profiler{
    width: 40px;
    height: 40px;
    top: 2px;
    border-radius: 50%;
    border-color: black;
    display: inline-block;
    cursor: pointer;
    position: relative;
}


.online{
    position: relative;
}

.online::after{
    content: '';
    width: 7px;
    height: 7px;
    border: 2px solid #fff;
    border-radius: 50%;
    right: 0px;
    top: 2px;
    background: #41db51;
    position: absolute;
}

.search-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 15px;
}

.search-bar input {
    border-radius: 6px;
    width:250px;
    height: 40px;
    background-color: #f0f2f5;
    padding-left: 30px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px;
}

.search-btn {
    background: none;
    border: none;
    position: absolute;
    left: 330px; 
    top: 50%;
    transform: translateY(-45%);
    cursor: pointer;
}

.search-btn img {
    width: 15px; 
    height: 15px; 
}

.container{
    padding: 20px 6%;
    display: flex;
    justify-content: space-between;
}

.left-sidebar{
    flex-basis: 25%;
    align-self: flex-start;
    margin-left: 135px;
    position: sticky;
    top: 73px;
}
.sidebar-profile-box{
    background: #fff;
    border-radius: 10px;
}
.sidebar-profile-box img{
    border-radius: 10px;
}

.sidebar-profile-info{
    padding: 0 25px;
}
.sidebar-profile-info img{
    width: 70px;
    border-radius: 50%;
    background: #fff;
    padding: 4px;
    margin-top: -45px;
    margin-left: 35%;
}

.sidebar-profile-info h1{
    font-size: 20px;
    font-weight: 600;
    color: #222;
}

.sidebar-profile-info h3{
    font-size: 14px;
    font-weight: 500;
    color: #5f5f5f;
}

.sidebar-profile-info ul{
    list-style: none;
    margin: 20px 0;
}

.sidebar-profile-info ul li{
    width: 100%;
    margin: 5px 0;
    font-size: 13px;
}

.sidebar-profile-info ul li span{
    float: right;
    color: #000;
}

.sidebar-profile-link{
    display: flex;
    align-items: center;
    border-top: 1px solid #ccc;
}

.sidebar-profile-link a{
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
    font-size: 13px;
    border-left: 1px solid #ccc;
}

.sidebar-profile-link a:first-child{
    border-left: 0;
}

.sidebar-profile-link a img{
    width: 18px;
    margin-right: 10px;
}

.sidebar-activity{
    background: #fff;
    padding: 5px 25px;
    margin: 12px 0;
    border-radius: 10px;
}

.sidebar-activity h3{
    color: #777;
    font-size: 14px;
    font-weight: 500;
    margin: 20px 0 10px;
}

.sidebar-activity a{
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 500;
    color: #888;
    margin: 3px 0;
}

.sidebar-activity a img{
    width: 20px;
    margin-right: 10px;
}

.discover-more-link{
    border-top: 1px solid #ccc;
    text-align: center;
    margin-top: 20px;
    margin-left: -25px;
    margin-right: -25px;
}

.discover-more-link a{
    color: #000;
    display: inline-block;
    margin: 10px 0;
}

.right-sidebar{
    flex-basis: 25%;
    align-self: flex-start;
    position: sticky;
    top: 73px;
}

.sidebar-news{
    background: #fff;
    padding: 10px 25px;
    border-radius: 10px;
}

.info-icon{
    width: 15px;
    float: right;
    margin-top: 15px;
}

.sidebar-news h3{
    font-size: 20px;
    font-weight: 600;
    color: #333;
    margin: 10px 0 15px;
}

.sidebar-news a{
    display: block;
    font-size: 12px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: -5px;
}

.sidebar-news span{
    font-size: 11px;
}

.sidebar-news .read-more-link{
    color: #000;
    font-weight: 500;
    margin: 20px 0 10px;
}

.sidebar-ad{
    background-color: #fff;
    padding: 15px 25px;
    text-align: center;
    margin: 12px 0;
    font-size: 12px;
}

.sidebar-ad img{
    width: 100%;
    margin: 4px;
    cursor: pointer;
}

.sidebar-ad small{
    float: right;
    font-weight: 500;
}

.sidebar-ad p{
    margin-top: 30px;
    margin-bottom: 10px;
}

.sidebar-ad b{
    display: block;
    font-weight: 500;
    margin-top: 10px;
}

.ad-link{
    display: inline-block;
    border: 1px solid #000;
    border-radius: 30px;
    padding: 5px 15px;
    color: #000;
    font-weight: 500;
    margin: 20px auto 10px;
}

.sidebar-user-links{
    padding: 15px 25px;
    text-align: center;
}

.sidebar-user-links a{
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
}

.copyright-msg{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    margin-top: 10px;
    font-weight: 500;
}

.copyright-msg img{
    width: 35px;
    margin-right: 4px;
}

.main-box{
    flex-basis: 47%;
    padding-left: 10px;
    padding-right: 10px;
}

.create-post{
    background: #fff;
    border-radius: 10px;
    padding-top: 10px;
    
}

.create-post input{
    padding: 20px 25px 10px;
    display: flex;
}

.create-post-input img{
    width: 35px;
    border-radius: 50%;
    display: block;
    margin-left: 10px;
}

.create-post-input textarea{
    width: 450px;
    border: 0;
    outline: 0;
    resize: none;
    background: transparent;
    margin-left: 55px;
    margin-top: -25px;
    font-size: 14px;
}

::placeholder{
    font-weight: 500;
}

.create-post-links{
    display: flex;
    align-items: flex-start;
}

.create-post-links li{
    list-style: none;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    flex-basis: 25%;
    height: 35px;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.create-post-links li img{
    width: 15px;
    margin-right: 8px;
}

.create-post-links li:last-child{
    background-color: #000;
    color: #fff;
    border-top: 0;
    border-right: 0;
    border-bottom-right-radius: 10px;
}

.post{
    background: #fff;
    padding: 20px 25px 5px;
    margin: 5px 0 15px;
}

.post-author{
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.post-author img{
    width: 35px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 5px;
}

.post-author h1{
    font-size: 18px;
    font-weight: 600;
    color: #333;
}

.post-author small{
    display: block;
    margin-bottom: -2px;
}

.post p{
    font-size: 14px;
    margin-bottom: 15px;
}

.post-stats{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 6px;
}

.post-stats div{
    display: flex;
    align-items: center;
}

.post-stats img{
    width: 15px;
    margin-right: -5px;
}

.liked-users{
    margin-left: 10px;
}

.post-activity{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    font-size: 14px;
    font-weight: 500;
}

.post-activity div{
    display: flex;
    align-items: center;
}

.post-activity-user-icon{
    width: 22px;
    border-radius: 50%;
}

.post-activity-arrow-icon{
    width: 12px;
    margin-left: 5px;
}

.post-activity-link img{
    width: 18px;
    margin-right: 8px;
    cursor: pointer;
}